<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset Complete</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'Password Reset/passwordResetComplete_styles.css'%}">
</head>
<body>
  <div class="container">
    <div class="message">
      <h2>Password Reset Successful</h2>
      <p>Your password has been successfully reset. Please login again.</p>
    </div>

    <div class="login-btn">
      <a href="{% url 'login' %}">Login </a>
    </div>
  </div>
</body>
</html>
