<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voter Registration Confirmation</title>
  {%load static%}
    <link rel="stylesheet" href="{% static 'Voter Registration/registrationComplete_styles.css'%}">
</head>
<body>
  <div class="container">
    <h2>Registered as a Voter</h2>
    <p>We have sent you a confirmation email. Please confirm your registration to become a registered voter and then proceed to log in.</p>
    <a href="login" class="login-btn">Login</a>
  
  
  </div>
</body>
</html>
