@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



body{
  /*background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');*/
  background-image: url('8.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .right-text {
  float: right;
  padding: 5px 10px;
  font-size: 16px;
}

.navbar .left-text {
  float: left;
  padding: 20px 15px;
  font-size: 16px;
  color: #fff;
}



.services {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;


}

.column {
  width: 725px;
}

.services-heading {
  text-align: center;
  padding-top: 75px; /* Adjust the padding as needed for spacing */
  color: #fff;
}

.services-heading h1 {
  font-size: 36px;
  margin: 0;
}
.service-box {
 
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #fff;
  height: 175px;
  border: 3px solid #fff; /* Increase the border width and adjust color if needed */
  backdrop-filter: blur(30px);

  
}

/* Styles for service headings and details */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  

}

.service-details {
  font-size: 16px;
  line-height: 1.6;
  
}

