body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');*/
    background-image: url('8.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-color: #f4f4f4;*/
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  h1 {
    text-align: center;
    color:#fff;
  }
  
  .terms {
  
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    color:azure;
  }
  
  .accept-terms {
    margin-bottom: 20px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;  display: block; /* Allows centering using margin */
    margin: 0 auto; /* Centers the button */

  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  